.one{
    display: flex;
    background-color: rgb(42, 126, 167);
    border: 1px solid rgba(52, 52, 90, 0.744);

}
img{
    height: 40px;
    width: 80px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 5px;
}
.first{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content:flex-start;
    align-content:space-between;
    
}
.sec{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: flex-end;
    padding-left: 100px;
}
a{
    text-decoration: none;
    align-content:space-between;
    padding-left: 5px;
 
}
.one:hover{
    background-color: rgb(241, 245, 245);
}
a:hover{
    color:rgb(243, 88, 17);
}